
/*********************************/
/* COLOR CHEMA: NAGIVATION       */
/*********************************/
.is-sticky .header-sticky {
    background-color: #fff
}
.main-menu>li>a,.main-menu .submenu>li>a, .megamenu .widget_categories ul li>a,
.megamenu .widget_pages ul li>a,
.megamenu .widget_nav_menu ul li>a,.footer .widget_categories ul li>a,
.footer .widget_pages ul li>a,
.footer .widget_nav_menu ul li>a{
	color: #333333
}
.megamenu .widget .widgettitle,.footer .widget .widgettitle{
	color: #333333;
}
.main-menu>li.active>a,
.main-menu>li:hover>a,
.main-menu .submenu>li:hover>a,
.main-menu .submenu>li.active>a,
.megamenu .widget_categories ul li>a:hover,
.megamenu .widget_pages ul li>a:hover,
.megamenu .widget_nav_menu ul li>a:hover,
.footer .widget_categories ul li>a:hover,
.footer .widget_pages ul li>a:hover,
.footer .widget_nav_menu ul li>a:hover,.linda-verticalmenu .vertical-menu-content>li:hover>a{
	color: #83a979;
}

.top-header{
	background-color: #ffffff;
}
.top-bar-menu, .top-bar-menu>li>a{
	color: #999999;
}
.top-bar-menu>li:hover>a,
.top-bar-menu>li.active>a{
	color: #d60d46;
}
.footer.style1{
    color: #797979;
    font-size: 16px;
    background-color: #3a3838;
}
.footer.style1 .widget .widgettitle{
	color: #d6d6d6;
}
.footer .widget_nav_menu ul li>a {
    font-size: 16px;
    color: #848484;
}
/*********************************/
/* COLOR CHEMA: BUTTONS          */
/*********************************/
.button,input[type="submit"]{
	background-color: #3a3838;
	border-color: #3a3838; border:none;
	-webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms ease-in 0s; -ms-transition: all 300ms ease-in 0s; -o-transition: all 300ms ease-in 0s; transition: all 300ms ease-in 0s;
}
.button, .button.primary, input[type="submit"]{
	color: #ffffff;
}

.button:hover,
.button.primary,
input[type="submit"]:hover
{
	color: #ffffff;
}

.button:hover,
.button.primary,
input[type="submit"]:hover
{
	background-color: #d60d46;
	border: 1px solid #3a3838
	color: #3a3838;
}
.button.border{
	border-color: #3a3838;
	color:#3a3838;
}
.button.border:hover{
	border-color: #83a979;
	background-color: #83a979 !important;
	color: #FFF;
}

/*********************************/
/* COLOR CHEMA: OTHERS           */
/*********************************/

.form-search-width-category, .form-search-width-category select.categori-search-option, .form-search-width-category .chosen-container .chosen-single,
.header.style4.style5 .top-header, .header.style8 .form-search-position .form-content .input, .page-heading,
.linda-newsletter.style2 .submit-newsletter, .linda-newsletter.style4 .submit-newsletter, .header .form-search-position
{
	background-color: #f4f4f4;
}
/*ALmost white BG*/

.woocommerce-pagination .page-numbers .page-numbers.current,
.woocommerce-pagination .page-numbers .page-numbers:hover, .nav-links .page-numbers:hover,
.nav-links .page-numbers.current,  .linda-title.default>span:after,
.linda-newsletter.default .email
 {
	background-color: #c7c7c7; color: #FFF;
}
/*Super Light Gray color */

.nav-links .page-numbers, .toolbar-products .modes a, .linda_latest_posts_widget .latest-post .post .item-athur,
.owl-carousel .owl-next, .owl-carousel .owl-prev, .woocommerce-tabs .wc-tabs li, .woocommerce-tabs .wc-tabs li a,
.linda-tabs.default .tabs-link li, .linda-tabs.default .tabs-link li a, .linda-title.default,  .linda-newsletter.default .subtitle
 {
	color: #c5c5c5;
}
/*Super Light Gray background color */

.WOOF_Widget .woof_list li input[type=checkbox]:checked + label.woof_radio_label .term-attr:before,
.WOOF_Widget .woof_list li input[type=radio]:checked + label.woof_radio_label .term-attr:before,
.nav-links .page-numbers,.woocommerce-pagination .page-numbers .page-numbers, .WOOF_Widget .woof_list li label .term-attr
 {
	border-color: #c7c7c7;
}
/*Super Light gray border color */


.linda-newsletter.style2 .subtitle, .linda-newsletter.style2 .email, .linda-newsletter.style4 .subtitle,
.linda-newsletter.style4 .email {
	color: #9f9f9f;

}
/*Gray color */

body, .summary .yith-wcwl-add-to-wishlist>div a,
.summary .compare.button,.WOOF_Widget .woof_radio_count,
.WOOF_Widget .woof_checkbox_count, .post-link a,  .linda-verticalmenu  .vertical-menu-content>li, .linda-verticalmenu  .vertical-menu-content>li>a,
.linda-verticalmenu .submenu>li, .linda-verticalmenu .submenu>li > a,  #customer_login .alternative_login,.gallery-caption {
	color:#333333;
}
/*Light Gray color */

.block-header-link .links li a, .block-header-link .block-content .head, .gallery-item, .box-mobile-menu .close-menu,
.header.style2 .block-search .form-search .btn-search, .header.style2 .block-minicart .cartlink .cart-icon, 
.header.style3 .block-minicart .cartlink, .header.style4 .block-minicart .cartlink, .form-search-width-category .btn-search,
.header.style6 .block-minicart .cartlink {
	color: #666666;
}
.header.style6 {
    background-color: #252525;
    color: #9d9d9d;
}
/*Light dark color */
h1,h2,h3,h4,h5,h6,
.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover, 
.header .search-icon,
.header .search-icon-mobile,.block-minicart .cartlink .cart-icon,.mini-cart-content .minicart-title,
.minicart-items .item .info .product-name,.form-search-width-category .categori-search-option,
.form-search-width-category .chosen-container .chosen-single,.header.style7 .form-search .input,
.header.style7 .form-search .btn-search, .header.style7 .mobile-navigation, .page-heading  .page-title, .post-item .post-name,
.post-item .post-name a, .post-item .readmore, .post-grid .post-item .date, .comments .comment-content .head,
.linda_latest_posts_widget .latest-post .post  .item-name, .product-item .product-name a,
.product-item.style-6 .group-button, .product-item.style-6 .group-button .button,
.product-item.style-6 .group-button .yith-wcwl-add-to-wishlist > div a,
.product-item.style-6 .group-button .group-button .added_to_cart,
.product-item.style-6 .group-button .added_to_cart, .product-categories li a, .widget_layered_nav li>a,
.product_list_widget .product-title, .widget_recent_reviews .product_list_widget a, .summary .entry-title,
.summary .variations .variation-title, .woocommerce-Reviews .comment-respond label, table.shop_table th,
table.cart .product-name a, table.cart .product-subtotal, form.checkout label, .inner-checkout >h3,
.linda_account_navigation .title, .woocommerce-MyAccount-navigation ul li>a, .myaccount-wellcome,
.woocommerce-EditAccountForm label,form.login label,form.register label,.woocommerce-ResetPassword label,
.woocommerce-MyAccount-content label, .woocommerce-EditAccountForm legend, #customer_login h2,
.linda-tabs.style3 .tabs-link li.active a,.linda-tabs.style3 .tabs-link li:hover a, .linda-iconbox.default .icon,
.linda-iconbox.style1 .icon,.linda-iconbox.default .title,.linda-iconbox.style1 .title,
.linda-blogs .blog-item .readmore, .linda-blogs.style3 .blog-item .post-date, .linda-newsletter.style2 .title,
.linda-newsletter.style4 .title, .lookbook-block .title, .linda-categories.default .title, .linda-categories.default .title a,
 .ra-btn-link, .post-link a:hover,.post-footer label,
.widget_archive ul li a,.widget_meta ul li a, .widget_categories ul li>a,.widget_pages ul li>a,
.widget_nav_menu ul li>a, .widget_rss cite, .toolbar-products .modes, .toolbar-products .modes a:hover,
.toolbar-products .modes a.active, .WOOF_Widget .woof_list li, .WOOF_Widget .woof_list li label, .WOOF_Widget .woof_container ul > li label .woof_is_closed:before,
.WOOF_Widget .woof_container ul > li a .woof_is_closed:before , .summary .woocommerce-review-link,
.quantity .control .btn-number, .summary .product_meta>span, .woocommerce-tabs .wc-tabs li:hover a,
.woocommerce-tabs .wc-tabs li.active a, #review_form .comment-form-rating .stars a:hover,
#review_form .comment-form-rating .stars a.active, .group_table th, .mini-cart-content .subtotal, .comments .comment-reply-link,
.product-item.style-7 .yith-wcwl-add-to-wishlist > div a, .WOOF_Widget .woof_container_inner >h4,
.WOOF_Widget .widget_price_filter>h4,.widget_filter_vendor label,.list_swatch_radio label, .widget_filter_color label,
.widget_filter_size label  {
   color: #333;
}
.block-header-link .icon, .header.style6 .search-icon, .header.style6 .cart-icon,
.header.style6 .block-minicart .cart-text .text2{
	 color: #9d9d9d;
}
/*Dark color */

 .header.style7 .block-minicart .cartlink,.post-item .date,
.product-item .group-button .button,.product-item .yith-wcwl-add-to-wishlist>div a,.product-item .group-button .added_to_cart,
.block-related .block-title, .linda-blogs .blog-item .readmore:before, .linda-newsletter.default .title, .linda-verticalmenu  .vertical-menu-content>li:hover,
.linda-verticalmenu  .vertical-menu-content>li.active, .ra-btn-link:before, #rev_slider_1_1 .title-bg,
.widget_product_categories li .arow:before,.widget_product_categories li .arow:after, .woocommerce-tabs .wc-tabs li a:after,
.banner-effect7:before, .banner-effect7:after , .banner-effect8:before , .banner-effect8:after, .post-footer .tags a:hover, .tagcloud a:hover

{
	background-color: #333333;
}
/*Dark background color */


.post-item .readmore .text:after, .post-footer .tags a:hover, .tagcloud a:hover{
	border-color: #333333;
}
/*Dark border color */

.button.border, .button.border:hover, .main-menu .submenu, .box-mobile-menu, .block-search-mobile,
.block-minicart .mini-cart-content, .block-header-link .block-content, .post-item .categories, .post-grid .post-item .date,
.product-item .color-display, .product-item.style-5 .group-button .added_to_cart,
.product-item.style-5 .group-button .add_to_cart_button,
.product-item.style-5 .group-button .product_type_external,
.product-item.style-5 .group-button .button,
.product-item.style-5 .yith-wcwl-add-to-wishlist > div a,
.product-item.style-5 .group-button .added_to_cart, .product-item.style-6 .group-button, .product-item.style-7 .group-button .button,
.product-item.style-7 .yith-wcwl-add-to-wishlist > div a, .product-item.style-8 .group-button .button,
.product-item.style-8 .yith-wcwl-add-to-wishlist > div a,
.product-item.style-8 .group-button .added_to_cart, .woocommerce-breadcrumb a:after, .WOOF_Widget .woof_sid_widget,
.WOOF_Widget .woof_list li label .term-attr, .cart_totals .inner, .cart_totals table,
.cart_totals table th,
.cart_totals table td, .linda-blogs.style3 .blog-item .post-date, .banner-effect1:before, .banner-effect1:after,
.banner-effect2:after, .banner-effect3:before, .banner-effect6:before,
.banner-effect6:after , .linda-verticalmenu .submenu, input[type="text"],input[type="search"], input[type="email"], textarea, input[type="password"],input[type="tel"],input[type=url],select,
textarea,input[type="number"], .chosen-container .chosen-single, .wp-caption , .top-bar-menu .submenu, 
.list_swatch_radio span, .widget_filter_size label:before
{
	background-color: #fff;
}
/*White background color */

.linda-verticalmenu .title, 
.top-bar-menu .submenu>li:hover>a,.top-bar-menu .submenu>li.active>a, .header.style6 .main-menu > li:hover > a,
.header.style6 .main-menu > li.active > a, .header.style7 .block-minicart .cartlink, 
.header.style7 .block-minicart .cartlink .cart-icon, .header.style7 .block-minicart .cartlink .cart-icon .count,
.header.style8 .block-minicart .cartlink, .header.style8 .block-minicart .cartlink .cart-icon,
.header.style8 .block-minicart .cartlink .cart-icon .count , .post-item .date, .post-grid .post-item .categories,
.post-grid .post-item .categories a, .post-grid .post-item .post-name a,.nav-links .page-numbers:hover,
.nav-links .page-numbers.current .post-footer .tags a:hover, .tagcloud a:hover, .product-item .flashs>span,
.product-item .group-button .button,
.product-item .yith-wcwl-add-to-wishlist>div a,
.product-item .group-button .added_to_cart, .product-item.style-2 .group-button, .product-item.style-2 .group-button .button,
.product-item.style-2 .group-button .yith-wcwl-add-to-wishlist > div a,
.product-item.style-2 .group-button .group-button .added_to_cart,
.product-item.style-2 .group-button .added_to_cart, .product-item.style-2  .yith-wcqv-button,
.product-item.style-5 .group-button .added_to_cart:hover,
.product-item.style-5 .group-button .add_to_cart_button:hover,
.product-item.style-5 .group-button .product_type_external:hover,
.product-item.style-5 .group-button .button:hover,
.product-item.style-5 .yith-wcwl-add-to-wishlist > div a:hover,
.product-item.style-5 .group-button .added_to_cart:hover,
.product-item.style-6  .yith-wcqv-button, .product-item.style-7 .group-button .button:hover,
.product-item.style-7 .yith-wcwl-add-to-wishlist > div a:hover, .product-item.style-7 .product-innfo .add_to_cart_button,
.product-item.style-7 .product-innfo .added_to_cart,
.product-item.style-7 .group-button .yith-wcwl-add-to-wishlist > div a:hover,
.product-item.style-7 .product-innfo .button, .product-item.style-7 .flashs > span, .product-item.style-8 .group-button .button:hover,
.product-item.style-8 .yith-wcwl-add-to-wishlist > div a:hover,
.product-item.style-8 .group-button .added_to_cart:hover, .woocommerce-pagination .page-numbers .page-numbers.current,
.woocommerce-pagination .page-numbers .page-numbers:hover, .woocommerce-breadcrumb, .woocommerce-breadcrumb a, 
.linda_widget_layered_nav .term-color.selected  >i:before, .woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button, .single-product .onsale, .block-related .block-title, 
.linda-blogs .blog-item .post-date, .linda-blogs.style3 .blog-item .post-info .post-name, .linda-blogs.style3 .blog-item .post-info .post-name a,
.linda-blogs.style3 .blog-item .post-info .categories a, .linda-instagram .item a, .linda-newsletter.default .title,
.linda-newsletter.default .email, .linda-newsletter.default .submit-newsletter, .linda-newsletter.style4 .submit-newsletter:hover,
.scroll_top, .scroll_top:hover,
.scroll_top:focus,.widget_filter_color label:after, 
.scroll_top:active, #rev_slider_1_1 .title-bg , .slider_range .btn.btn-theme.btn-theme-red
{
	color: #fff;
}
/*White color */

.product-item .yith-wcwl-add-to-wishlist>div a, .single-product .onsale, .linda-blogs.style3 .blog-item .post-info .categories,
.post-grid .post-item .categories, .product-item .flashs>span
{
	background-color: #a4b2bd;
}
/*Light blue background */

form.login .rememberme .woocommerce-LostPassword, .linda-blogs.style3 .blog-item .post-info, 
.post-item .post-metas>span, .post-grid .post-item .post-metas, .comments .comment-content .head  .comment-meta,
.comments .comment-content .head  .comment-meta a  {
	color: #a4b2bd;
}
/*Light blue color */







.color-dark-bg{
	color: #ffffff;
	background-color: #333333!important;
}

.color-dark{
	color: #333333!important;
}
.color-white{
	color: #ffffff!important;
}
.color-orange {
	color: #fea800!important;
}

.color-gray{
	color: #d4d4d4!important;
}
.gray-bg{
	background-color: #f5f5f5;
}
.dark-bg{
	background-color: #333333;
}

/*********************************/
/*THEME'S MAIN COLOR */
/* PRIMARY COLOR */
/*********************************/
a,
.block-minicart .cartlink .cart-icon .count,
.mini-cart-content .subtotal .total,
.post-item .post-name:hover a,
.post-item .readmore:hover,
.post-item .categories a:hover,
.post-footer .share a:hover,
.widget_categories ul li>a:hover,
.widget_pages ul li>a:hover,
.widget_nav_menu ul li>a:hover,
.widget_archive ul li a:hover,
.widget_meta ul li a:hover,
.product-item .product-name a:hover,
.product-item  .price,
.product-categories li a:hover,
.product-categories li.current-cat>a,
.product-categories .children a:hover,
.product-categories .children .current-cat>a,
.widget_layered_nav li>a:hover,
.widget_layered_nav li.chosen>a,
.product_list_widget .price,
.summary .woocommerce-review-link:hover,
.summary .price,
.summary .yith-wcwl-add-to-wishlist>div a:hover,
.summary .compare.button:hover,
.summary .product_meta>span>a:hover,
table.cart .product-price,
.linda_latest_posts_widget .latest-post .post  .item-name:hover,
.linda-tabs.default .tabs-link li:hover a,
.linda-tabs.default .tabs-link li.active a,
.product-item.style-2 .group-button .button:hover,
.product-item.style-2 .group-button .yith-wcwl-add-to-wishlist > div a:hover,
.product-item.style-2 .group-button .group-button .added_to_cart:hover,
.product-item.style-2 .group-button .added_to_cart:hover,
.linda-blogs .blog-item .readmore:hover,
.product-item.style-5 .group-button .added_to_cart,
.product-item.style-5 .group-button .add_to_cart_button,
.product-item.style-5 .group-button .product_type_external,
.product-item.style-5 .group-button .button,
.product-item.style-5 .yith-wcwl-add-to-wishlist > div a,
.product-item.style-5 .group-button .added_to_cart,
.linda-title.default:hover,
.product-item.style-6 .group-button .button:hover,
.product-item.style-6 .group-button .yith-wcwl-add-to-wishlist > div a:hover,
.product-item.style-6 .group-button .group-button .added_to_cart:hover,
.product-item.style-6 .group-button .added_to_cart:hover,.post-item .post-metas > span,
.block-header-link .links li:hover a, .block-header-link a.woocs_flag_view_item_current{
	color:#d60d46;
}
.top-bar-menu .submenu>li:hover>a,
.top-bar-menu .submenu>li.active>a,
.product-item .flashs .onsale,
.product-item .group-button .button:hover,
.product-item .yith-wcwl-add-to-wishlist>div a:hover,
.single-product .onsale,
.linda-tabs.default .tabs-link li a:after,
.product-item.style-2  .yith-wcqv-button:hover,
.linda-blogs .blog-item .post-date,
.scroll_top:hover:hover,
.product-item .group-button .add_to_cart_button.btn_sold_out{
	background-color:#d60d46;
}

.post-item .readmore .text:hover:after,
input[type="submit"]:hover{
	border-color:#d60d46;
}
.text-color-dark-bg:hover{
	color: #d60d46!important;
}
.color-default {
	color: #d60d46!important;
}
/******** DEFAULT #d60d46 *********/

/*********************************/
/*THEME'S MAIN COLOR */
/* SECONDARY COLOR */
/*********************************/
.summary .stock,
.linda-socials .socials a:hover,
.lookbook-block .title > span,
.lookbook-block .button.border, .widget_layered_nav_filters ul li>a,
.product-item.style-7 .group-button .button,
.product-item.style-7 .group-button .yith-wcwl-add-to-wishlist > div a,
.product-item.style-7 .group-button .group-button .added_to_cart,
.product-item.style-7 .group-button .added_to_cart,
.product-item.style-7 .product-innfo .add_to_cart_button:hover,
.product-item.style-7 .product-innfo .button:hover,
.product-item.style-8 .group-button .button, 
.product-item.style-8 .yith-wcwl-add-to-wishlist > div a,
.product-item.style-8 .group-button .added_to_cart,
.linda-blogs.style4 .blog-item .post-date
{
 	color:#83a979;
}
.button.primary:hover,
.bg-green,
.linda-tabs.default .tabs-link li a:after,
form.login .button,
.scroll_top,
.product-item.style-5 .group-button .added_to_cart:hover,
.product-item.style-5 .group-button .add_to_cart_button:hover,
.product-item.style-5 .group-button .product_type_external:hover,
.product-item.style-5 .group-button .button:hover,
.product-item.style-5 .yith-wcwl-add-to-wishlist > div a:hover,
.product-item.style-5 .group-button .added_to_cart:hover,
.product-item.style-7 .product-innfo .add_to_cart_button,
.product-item.style-7 .product-innfo .button,
.product-item.style-8 .group-button .button:hover, 
.product-item.style-8 .yith-wcwl-add-to-wishlist > div a:hover, 
.product-item.style-8 .group-button .added_to_cart:hover, 
.header.style8 .block-minicart .cartlink,
.linda-title.default>span:after, .product-item .group-button .added_to_cart,
.product-item .group-button .add_to_cart_button,
.product-item .group-button .product_type_external, .widget_price_filter .ui-slider-range,
.widget_price_filter .ui-slider-handle,
.product-item .group-button .product_type_grouped,
.linda-newsletter.style4 .submit-newsletter:hover,.linda-verticalmenu .title {
	background-color:#83a979;
}

.btn-login{background: #83a979 !important;}
.btn-login:hover{background: #3a3838 !important;}

.button.primary:hover,
form.login .button,
.lookbook-block .button.border,
.product-item.style-7 .product-innfo .add_to_cart_button,
.product-item.style-7 .product-innfo .button,.linda-verticalmenu .vertical-menu-content
{
	border-color:#83a979;
}
.color-green{
	color: #83a979!important;
}
.text-color-dark-bg{
	color: #83a979!important;
}
/******** DEFAULT #83a979 *********/