.navaccount ul{
    border-bottom:0px;
    border: 1px solid #ededed;
    padding: 20px 10px;
    margin: 0;
}

.navaccount .tab-content ,
.navaccount .nav{
    margin-top: 20px;
}

.navaccount .tab-content{
    border: 1px solid #ededed;
    padding: 20px 10px;
}

.navaccount ul .active a,
.navaccount ul .active a:hover{
    border: none;
}

.navaccount li{
    float: none;
}

.navaccount .nav-tabs > li > a{
     border: none !important; 
     border-radius:0 !important;
}

.nav-tabs > li > a:hover{
    background: #F8F8F8 !important;
}

iframe{
    width: 100%;
    margin-top: 20px;
}

.main-menu .megamenu{
    padding: 35px 30px;
    min-width: 990px;
}

.owl-carousel.nav-outline .owl-prev {
    position: absolute;
    left: 0;
    top: 40%;
    -webkit-transform: translateX(-150%) translateY(-50%);
    -ms-transform: translateX(-150%) translateY(-50%);
    -o-transform: translateX(-150%) translateY(-50%);
    transform: translateX(-150%) translateY(-50%);
}
.owl-carousel.nav-outline .owl-next {
    position: absolute;
    right: 0;
    top: 40%;
    -webkit-transform: translateX(150%) translateY(-50%);
    -ms-transform: translateX(150%) translateY(-50%);
    -o-transform: translateX(150%) translateY(-50%);
    transform: translateX(150%) translateY(-50%);
}

.compare-list.dataTable{
    margin-left: 0px; 
    width: auto;
}
.h-0{
    height: 0;
}
.h-23{
    height: 23px;
}
.h-29{
    height: 29px;
}
.h-40{
    height: 40px;
}
.h-56{
    height: 56px;
}
.h-178{
    height: 178px;
}
/*
- General text classes
*/
.custom-address-default{
    list-style: none; 
    line-height: 44px; 
    padding: 0 37px;
  }
h3.dark-bg, h3.gray-bg, span.dark-bg, span.gray-bg{
    padding: 0 5px;
}
.main-heading{
    margin-bottom: 36px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 28px;
    line-height: 39px;
    position: relative;
}
.sub-heading{
    font-size: 28px;
    text-align: center;
}

.upper{
    text-transform: uppercase;
}

/*
- Custom Slideshow Arrow & Bullet
*/
.rev_slider.no-arrow .custom.tparrows{
    display: none;
}
.rev_slider.no-bullet .tp-bullets{
    display: none;
}
.tp-bannertimer.tp-bottom{
    height: 5px; 
    background-color: rgba(214, 13, 70, 0.14902);
}
.custom.tparrows {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    background: transparent;
    width: 40px;
    height: 40px;
}

.custom.tparrows:before {
    font-family: 'Flaticon';
    cursor: pointer;
    color: #b9b7b6;
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 50px;
    display: block;
    z-index: 100;
    background-color: transparent;
}

.custom.tparrows:hover:before {
    color: #333333;
}

.custom.tp-leftarrow:before {
    content: "\f100";
}

.custom.tp-rightarrow:before {
    content: "\f101";
}


.custom.tp-bullets:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    box-sizing: content-box;
}
 .custom .tp-bullet.selected,  
 .custom .tp-bullet:hover {
    background-color: transparent;
}
 .custom .tp-bullet.selected:after,  
 .custom .tp-bullet:hover:after {
    content: " ";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    background-color: #b8b8b8;
    border-radius: 50%;
}
.custom .tp-bullet {
   border: 2px solid #b8b8b8;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    position: absolute;
}

/*
- Custom Slideshow Captions
*/

#rev_slider_1_1 .title-bg {
    transition: none;
    text-align: inherit;
    line-height: 32px;
    border-width: 0px;
    margin: 0px;
    padding: 0px 5px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 32px;
    font-size: 32px;
    padding: 0 5px;
}       

.caption-1-1{
    z-index: 6;
    white-space: nowrap;
    font-size: 90px;
    line-height: 90px;
    font-weight: 400;
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
} 
.caption-1-2 span, .caption-1-2 h3{
    z-index: 6;
    white-space: nowrap;
    line-height: 90px;
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    font-size: 90px;
}

.caption-1-3{
    z-index: 7;
    white-space: nowrap;
        color: rgb(135, 135, 135);
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
}

.caption-2-1{
    z-index: 5;
    white-space: nowrap;
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
}
.caption-2-2{
    z-index: 6;
    white-space: nowrap;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}
.caption-2-3{
    z-index: 7;
    white-space: nowrap;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(131, 169, 121);
    font-family: "Source Sans Pro";
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}
.caption-3-1{
    z-index: 7;
    white-space: nowrap;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    font-family: "Source Sans Pro";
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}
.caption-3-2{
    z-index: 6;
    white-space: nowrap;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    color: rgb(131, 169, 121);
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}
.caption-3-3{
    z-index: 7;
    white-space: nowrap;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
}
.caption-4-1 h3{
    z-index: 5;
    white-space: nowrap;
    font-size: 60px;
    line-height: 65px;
    font-weight: 300;
    color: rgb(89, 89, 89);
    font-family: "Source Sans Pro";
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}
.caption-button2{
    transition: none; 
    text-align: inherit; 
    line-height: 22px; 
    border-width: 1px; 
    margin: 0px; 
    padding: 10px 30px; 
    letter-spacing: 0px; font-weight: 600; 
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: transparent;
}

.caption-button2 span{
    display: inline-block; margin: 0 0 0 15px;
}


.caption-button2:hover{
    border: 1px solid #d60d46;
    color: #d60d46;
    background-color: transparent;
}
/*
- General Sections
*/
.full-width{
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    bottom: 15px;
}
.product-item .product-item-des-collection{
    display: block;
    float: left;
    margin-bottom: 30px;
}
.product-item .group-button2{
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
     
    
}
.product-item:hover .group-button2{
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.group-button2 .collection-view-all .collection-btn:before{
    display: none;

}
.group-button2 .collection-view-all .collection-btn{
    width: 149px;
    text-align: center;
     border-radius: 0; 
    margin-top: 12px;
    font-weight: normal;
    display: inline-block;
    border: none;
}
section.section-with-heading{
    padding-top: 40px;
}
section.section-banners{
    padding-top: 30px;
}
section.section-slideshow .banner-group img{
width: 100%;
}
section.section-instagram{
    margin-left: 0;
    margin-right: 0;
}
.section-big-banner2 .banner-col{
    padding-right: 0;
}
.section-big-banner2 .banner-content{
     padding-top: 110px;
     padding-bottom: 100px;
    
}
.section-big-banner2 .banner-image{
    padding-left: 0;
}
.section-support .support-item {
    margin-bottom: 30px;

}

.section-support .col-lg-4:nth-child(3n+1),
.section-support .col-md-4:nth-child(3n+1),
.section-support .col-lg-3:nth-child(4n+1),
.section-support .col-md-3:nth-child(4n+1){
    clear: left;
}

.section-featured-products{
    position: relative;
}
.section-subscribe .subscribe-wrap{
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 123px;
    padding-bottom: 123px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.subscribe-bg{
    background-image: url('../images/banner-07.jpg');
}
.section-featured-products .backgrounded,
.section-subscribe .backgrounded{
    position: absolute;
    top: 0;
    width: 100%;

}

.with-owl-nav{
    padding-top: 30px;
}

.section-blogs .heading-bg,
.section-instagram .heading-bg{
    margin-top: 0px;
}

.section-instagram .heading-bg{
    margin-bottom: 7px;
}


.section-subscribe .linda-newsletter{
    margin-top: -200px;
    margin-bottom: 50px;
}
.product-item.list:hover{
    cursor: pointer;
}
/*
- Text Size
*/
.no-pd{
    padding: 0;
}
.no-mg{
    margin: 0;
}
.pdb-50{
    padding-bottom: 50px;
}
.pdt-50{
    padding-top: 50px;
}
.pdt-30{
    padding-top: 30px;
}
.mgt-50{
    margin-top: 50px;
}
.mgb-50{
    margin-bottom: 50px;
}
.mgb-30{
    margin-bottom: 30px;

}
.mgb-20{
    margin-bottom: 20px;
  }
.mgb-0{
    margin-bottom: 0;
}
.pdb-30{
    padding-bottom: 30px;

}
.light{
    font-weight: 300;
}
.bold{
    font-weight: 800;
}
.normal{
    font-weight: 600;
}

.text-small{
    font-size: 22px;
}
.text-medium{
    font-size: 32px;    
}
.text-large{
    font-size: 40px;
}
.text-extra-large{
    font-size: 58px;
}
.text-ultra-large{
    font-size: 90px;
}

/*button links*/
.btn-view-mode{
  border: none;
  background: transparent;
  color: #c7c7c7;
}
.btn-view-mode:hover{
    color: #333;
}
.ra-btn-link{
    font-size: 19px;
    font-family: 'Gotham',sans-serif;
    line-height: 19px;
    display: inline-block;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 11px 20px;
    border-radius: 5px;
    letter-spacing: 0px;
    font-weight: 400;
    background: #333;
    color: #fff !important;
    padding-bottom: 13px;
}
.ra-btn-link:hover{
    color: #fff;

}
.ra-btn-link:hover:before {
    background-color: #fff;
}
.ra-btn-link:before {
display: block;
    content: '';
    height: 1px;
    position: relative;
    top: 24px;
    left: 0;
    width: 100%;
}
.ra-btn-link:after {
    font-family: Flaticon;
    content: "\f103";
    display: inline-block;
    margin-left: 15px;
    font-size: 19px;
    vertical-align: middle;
}

.ra-btn-link2 {
    margin-top: 5px;
    border: 1px solid #83a979;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    
    text-align: center;
}
.ra-btn-link2 a{
    color: #83a979;
}
/*
- Block banners demo
*/
.block-banners-demo .banner-content{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

/*HEADER*/
.main-menu li{
    white-space: nowrap;
}    

.mini-cart-content .actions .btn-viewcart{
    float: left;
}
.mini-cart-content .actions .btn-checkout{
    float: right;
}

/*FOOTER */
.footer-wrap {
    border-top-width: 1px;
    padding-top: 40px;
    border-top-color: #ededed;
    border-top-style: solid;
}
.footer-wrap2 {
    margin: 0px;
    border-top-width: 1px;
    padding: 35px 0;
    border-top-color: #ededed;
    border-top-style: solid;
}
.footer-wrap2 .linda-socials{
    margin-bottom: 0; margin-top: 12px;
}
.footer.style1 .footer-wrap2 {
    border-top-color: #4f4d4d;
}
.footer .footer-logo{
    margin-bottom: 30px;
}

/* css footer by son */
.footer .footer-gray-background {
    background-color: #3a3838 !important;
}
.footer .style1 .widget .widgettitle {
    color: #d6d6d6;
}
.footer .payment_item li{
    display: inline-block;
    margin-bottom: 4px;
}
.padding0{
    padding: 0px ;
}
.footer .linda-iconbox .icon{
    border: 1px solid;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.footer .linda-iconbox .content{
     text-align: left;
}


/*INNER PAGE - SECTIONS */
.header-bg{
    min-height:243px; 
    background-position: center top; 
    background-attachment: fixed; 
    background-size: cover; 
    background-repeat:no-repeat;
    background-image: url("../images/blog-bg.jpg");
}
.header-bg .overlay{
    background-color:rgba(0, 0, 0, 0.5);
}

/* SIDEBAR WIDGET*/
.widget_price_filter.widget-close .filter-wrap,
.widget_filter_color.widget-close .list_swatch_radio,
.widget_filter_size.widget-close>ul.list_size_radio,
.widget_filter_vendor.widget-close>ul.list_vendor_checkbox{
    display: none;
}
.slider_range .input-text {
    border: 1px solid #dddddd;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    min-width: 60px;
    text-align: center;
    width: 15%;
}
.input-box.slider_range{
    display: inline-block;
    margin-top: 20px;
}
#slider-range .ui-corner-all{
    border-radius: 0;
}
.slider_range .btn.btn-theme.btn-theme-red {
    background: #000 none repeat scroll 0 0;
    border-color: #000;
    float: right;
    padding: 0 12px;
    text-transform: uppercase;
}
.block .toggle-content .ui-slider {
    margin-bottom: 20px;
}
.ui-slider-horizontal {
    height: 2px;
}
.widget_filter_color ul li,
.widget_filter_size ul li,
.widget_filter_vendor ul li{
    list-style: none;
 
}
.widget_filter_color ul li{
    display: inline-block;
}
.list_swatch_radio span{
    position: relative;
    float: left;
    display: block;
    margin-right: 13px;
    width: 22px;
    height: 22px;
    border: 1px solid #c7c7c7;
    border-radius: 50%;
   
}
.list_swatch_radio label{
    line-height: 17px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.widget_filter_color input,
.widget_filter_size input,
.widget_filter_vendor input{
    display: none;
}
.widget_filter_color label:after{
    width: 17px;
    height: 17px;
    content: '';
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f00c";
    position: absolute;
    top: 5px;
    left: 6px;
    line-height: normal;
    font-size: 10px;
    opacity: 0;
}
.widget_filter_color label,
.widget_filter_size label,
.widget_filter_vendor label{
    line-height: 17px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
}
.widget_filter_size label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: block;
    position: relative;
    border: 1px solid #c7c7c7;
    float: left;
    margin-right: 13px;
    border-radius: 50%;
}
.widget_filter_size label:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    line-height: normal;
    font-size: 10px;
    width: 17px;
    height: 17px;
    content: '';
    display: inline-block;
    border: 5px solid #c7c7c7;
    border-radius: 50%;
    z-index: 10;
    opacity: 0;
}

.widget_filter_size input[type=radio]:checked + label:after,
.widget_filter_vendor input[type=radio]:checked + label:after,
.widget_filter_color input[type=radio]:checked + label:after {
    opacity: 1;
}

.widget_filter_vendor label{
    padding-left: 30px;
    width: 100%;
}

.widget_filter_vendor label:before {
    content: "";
    height: 17px;
    width: 17px;
    position: absolute;
    border: 1px solid #c7c7c7;
    top: 0;
    left: 0;
}

.widget_filter_vendor input[type=checkbox]:checked + label:after{
    opacity: 1;
}


.widget_filter_vendor label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-size: 11px;
    height: 13px;
    position: absolute;
    top: 1px;
    left: 4px;
    opacity: 0;
    color: #83a979;

}

.widget_filter_vendor label span{
    float: right;
    color: #c7c7c7;
}
#modal-compare .modal-header .close{
    margin: 0 15px;
    color: #fff;
    font-size: 33px;
    opacity: 1;
}
.comment-form-rating{
    margin-bottom: 30px;
}

.scroll_top{
    z-index: 999;
    bottom: 50px;
    right: 40px;
}

.footer-divider{
    border-top-width: 1px;
    padding-top: 40px;
    border-top-color: #ededed;
    border-top-style: solid;
}

.footer-address p{
    margin-bottom: 19px;
}

footer .payment-icons{
    margin-bottom: 30px;
}
.cross-sells .cart-shipping-title{
    text-align: left;
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.cart_item ul.single-product-desc{
   padding-left: 20px;
}
#customer_login .alternative_login{
    text-align: center;
    margin: 30px 0;
    font-weight: 600;
}
#customer_login hr{
    margin: 30px 0;
}
#customer_login select,
.cross-sells select{
    border: 1px solid silver;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
  background-repeat: no-repeat;
  background-position: 95% 42%;
}
#customer_login .reg_title{
    width: 100%;
}
#customer_login .reg_select{
    display: inline-block;
    width: 31.3%;
    float: left;
    margin-bottom: 7px;
    margin-right: 2%;
}
#customer_login .reg_select:last-child{
    margin-right: 0;
    width: 33.4%;
}
#customer_login .rememberme label,
#customer_login .offer_checkbox label{
    padding-left: 30px;
}
form.register p:last-child input{
    margin-top: 25px;
}
#customer_login .rememberme input[type="checkbox"],
#customer_login .offer_checkbox input[type="checkbox"]{
    display: none;
}
#customer_login .rememberme,
#customer_login .offer_checkbox{
    position: relative;
}
#customer_login .rememberme label:after,
#customer_login .offer_checkbox label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-size: 11px;
    height: 13px;
    position: absolute;
    top: 1px;
    left: 4px;
    opacity: 0;
    color: #83a979;
}
#customer_login .rememberme label:before,
#customer_login .offer_checkbox label:before{
    content: "";
    height: 17px;
    width: 17px;
    position: absolute;
    border: 1px solid #c7c7c7;
    top: 3px;
    left: 0;
}
#customer_login .rememberme input[type=checkbox]:checked + label:after,
#customer_login .offer_checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.cross-sells select,
.cross-sells input{
    width: 100%;
    margin: 15px 0;
}
.social-connect{
    text-align: center;
}

.btn-facebook,
.btn-twitter{
    width: 47%;
    display: inline-block;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid;
}
.btn-facebook{
    border-color: rgb(21, 66, 143);
    float: left;
    color: rgb(21, 66, 143);
    -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms ease-in 0s; -ms-transition: all 300ms ease-in 0s; -o-transition: all 300ms ease-in 0s; transition: all 300ms ease-in 0s;
}

.btn-twitter{
    border-color: rgb(0, 148, 219); 
    float: right;
    color: rgb(0, 148, 219);
    -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms ease-in 0s; -ms-transition: all 300ms ease-in 0s; -o-transition: all 300ms ease-in 0s; transition: all 300ms ease-in 0s;
}

.btn-facebook:hover{
    border-color: rgb(21, 66, 143);
    color: #fff;
    background-color: rgb(21, 66, 143);
}

.btn-twitter:hover{
    border-color: rgb(0, 148, 219);
    color: #fff;
    background-color: rgb(0, 148, 219);
}

.wishlist_table .add_to_cart, a.add_to_wishlist.button.alt { border-radius: 16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }  
.product-item .list_swatch_radio li{
  display: inline-block;
  list-style: none;
  
}

.product-inner .spr-badge-caption{
    display: none;
}

.style-7 .product-inner .spr-badge,
.style-8 .product-inner .spr-badge{
    display: inline-block;
    float: none;
    
}

.product-inner .spr-badge{
    display: inline-block;
    float: right;
    
}
#header .product-inner .spr-badge{
    float: left;
    
}
.single-product .spr-badge .spr-starrating,
 #tab-reviews .spr-starrating, 
 #tab-reviews .spr-starratings,
 .product-item .spr-badge .spr-starrating{
    color: #fea800;
}
.product-item.list.style-1  .product-inner .spr-badge{
    float: left;
}
.product-inner .spr-badge-starrating{
    font-size: 12px;
}
#img_01:hover{
    cursor: pointer;

}
 .svg-dark-bg{
      background: #333;
      width: 100%;
      height: 220px;
   }
   .megamenu img{
      width: 100%;
   }
.contact-form label{
  margin-right: 60px;
}
.contact-form input:not(.button), #ContactFormMessage{
  width: 100%;
}


.contact-form .errors ul
{
  padding-left: 35px;
  color: #d60d46;
}

/* ABOUT US PAGE */
.about-footer a{
    padding: 5px; 
    color: #c7c7c7;
}  
.about-footer a:hover{
    color: #333;
}
.about-widget .item .image img{
    width: 100%;
}
.about-widget .item .box-info{
    padding-bottom: 30px; -webkit-transition: all 0ms linear 0s; -moz-transition: all 0ms ease-in 0s; -ms-transition: all 0ms ease-in 0s; -o-transition: all 0ms ease-in 0s; transition: all 0ms ease-in 0s;
}
.about-widget .item:hover .box-info {
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
    bottom: 0px;
    padding-top: 110px;
    background: rgba(214, 13, 70, 0.7);
    text-align: center; -webkit-transition: all 600ms linear 0s; -moz-transition: all 600ms ease-in 0s; -ms-transition: all 600ms ease-in 0s; -o-transition: all 600ms ease-in 0s; transition: all 600ms ease-in 0s;
}
.about-widget .item:hover .box-info .name,
.about-widget .item:hover .box-info .info{
    color: #fff;
}

.about-widget .item .box-info .name{
    font-size: 18px;
    color: #3a3838;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}
.about-widget .item .box-info .info{
    font-size: 16px;
    color: #989898;
    margin-top: 8px;
}
.about-widget .item .box-info .follow-us {
    display: none;
}
.about-widget .item:hover .box-info .follow-us {
    display: block;
    margin-top: 30px;
}
.about-widget .item .box-info .follow-us ul{
    margin: 30px auto;
}

.about-widget .item .box-info .follow-us ul li{
    display: inline-block;
    
    font-size: 16px;
    margin-right: 10px;
}
.about-widget .item .box-info .follow-us ul li a{
    color: #fff;
    font-size: 30px;
}
.about-widget .item .box-info .follow-us ul li a:hover{
    color: #83a979;
}


/*FAQ PAGE*/
ul.collapsible-tab li{
    border-bottom: 1px solid #ddd;
    position: relative;
    list-style-type: decimal;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
ul.collapsible-tab li .title{
    margin: 20px 0;
    text-transform: uppercase;
    cursor: pointer;
}
ul.collapsible-tab li .arrow{
    display: inline-block;
    float: right;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
}
ul.collapsible-tab li>.arrow::before,
ul.collapsible-tab li>.arrow::after{
    content: '';
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}
ul.collapsible-tab li .arrow::after{
    top: 5px;
    left: 1px;
    margin-top: 0;
    margin-left: -1px;
    transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
}
ul.collapsible-tab li.open .arrow:before {
    background-color: #a49e9e;
}
ul.collapsible-tab li.open .arrow:after {
    display: none;
}


ul.collapsible-tab li .content{
    display: none;
    font-weight: normal;
    color: #989898;
}
ul.collapsible-tab li.open .content{

}

/* LOOK BOOK SECTION */
.section-lookbook {
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #f5f5f5;
}
.lookbook-slider{
    margin-top: -492px;
    padding-right: 50px;
    padding-left: 50px;
}


.s1366{
    width: 1366px;
}

.ra-btn-3{
    color: #FFF; 
    font-size: 20px; 
    text-decoration: underline; 
    font-weight: 700;
}
.ra-btn-3:hover{
    color: #547f49;
    font-size: 20px; 
    text-decoration: underline;
}
.ra-btn-3 i{color: #FFF; 
    font-size: 18px;  
    display: inline-block; 
    margin: 0 0 0 15px;
}

.ra-btn-4{color: #FFF; 
    font-size: 20px; 
    text-decoration: underline; 
    font-weight: 700;
}
.ra-btn-4:hover{color: #6d7f8e; 
    font-size: 20px; 
    text-decoration: underline;
}
.ra-btn-4 i{color: #FFF; 
    font-size: 18px;  
    display: inline-block; 
    margin: 0 0 0 15px;
}



.page-404 h1{
    font-size: 200px;
}


.contact-head{
    font-size: 18px; 
    font-weight: 400;
}
.contact-maps{ 
    width: 100%; 
    height: 450px; 
    margin-top: 30px;
    float: left;
}


.block-banners-demo{
    margin-top: 60px;
}


.chbox{
    background-color: #f8f8f8;
    padding: 10px 20px;
    width: 100%;
}

.leftbox{
    margin: 0 !important;

}

.leftbox h2{
   font-size: 18px; font-weight: 700;
    border-bottom: 1px solid #ededed;
    padding: 0 0 15px 0;
    margin: 30px 0 0 0 !important;
    width: 100%;
    float: left;
    
}


.leftbox .frm{
    margin: 30px 0 0 0;
    width: 100%;
    float: left;
}


.l47{
    width: 47%; float: left;
}


.r47{
    width: 47%; float: right;
}

.offer_checkbox{ width: 100%; float: left; }

.txta{
    width: 100%; float: left; height: 150px;
}


.your-order{
    width: 100%; 
    float: left;
}



.your-order .order-box{
    width: 100%; 
    float: left;
    background-color: #f8f8f8;
    padding: 30px;
}


.your-order .order-box h2{
    font-size: 24px; 
    width: 100%; 
    text-align: center;
    float: left;
}

.your-order .order-box .product{
    margin: 0 0 30px 0;
    width: 100%;
    float: left;
}

.your-order .order-box .product .list{
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    float: left;
}


.your-order .order-box .product .list .head{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    float: left;
    
}


.l70{
    width: 70%; float: left;
}


.r25{
    width: 25%; float: right; text-align: right;
}


.your-order .order-box .product .list .txt{
    font-size: 14px;
    color: #3a3838;
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
}




.your-order .order-box .payment{
    width: 100%;
    float: left;
    margin-bottom: 0px;
}


.your-order .order-box .payment li{
    margin: 20px 0;
    
}

.your-order .order-box .payment li label{
    color: #3a3838;
    font-size: 16px;
    font-weight: 600;
}

.your-order .order-box .payment li .pay-text{
    color: #a39a9a;
    font-size: 14px;
    width: 100%;
    float: left;
    line-height: 18px;
    margin: 20px 0;
}

.your-order .order-box .payment li img{
    display: inline-block;
    float: right;
    margin: -13px 0 0 15px;
}




.order-btm{
    width: 100%; 
    text-align: center;
    float: left;
}


.order-btn{ 
    width: 100%;
    float: left;
    background-color: #d60d46;
    color: #FFF; 
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 20px 0;
    text-align: center;
 }
.style1{
    min-height: 117px;

}

.section-slideshow{
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 100%;
    margin: 0px;
}
.section-slideshow .ra-btn-link:after{
    display: none;
}

footer .payment-icons{
    margin-top: 9px;
}

.footer .widget{
    margin-bottom: 0 !important;
}
.section-product-list .nav-top-right .owl-nav{
    left: 0;
    top: 36%;
}
.section-product-list .owl-next{
    right: -31px;
    position: absolute;
}
.section-product-list .owl-prev{
    left: -31px;
    position: absolute;
}
.section-product-list .owl-prev{
    transform: rotate(180deg);
}
ul.privacy-ul{
  list-style: none;

}
ul.privacy-ul li{
    position: relative;
}
ul.privacy-ul li:after{
    content: "\f0da";
    font-family: 'fontAwesome';
    color: #d60d46;
    position: absolute;
    left: -15px;
    top: 1px;
}
ul.privacy-ul li:nth-child(odd):after{
    color: #83a979;
}